<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.h2o.h2oServer.domain.model_type.mapper.PowertrainMapper">
    <select id="findById" resultType="PowertrainEntity">
        select id, name, description, image
        from powertrain
        where id = ${id}
    </select>

    <select id="findOutput" resultType="PowertrainOutputEntity">
        select powertrain_id, output, min_rpm, max_rpm
        from powertrain_output
        where powertrain_id = ${id}
    </select>

    <select id="findTorque" resultType="PowertrainTorqueEntity">
        select powertrain_id, torque, min_rpm, max_rpm
        from powertrain_torque
        where powertrain_id = ${id}
    </select>

    <select id="findPowertrainsByCarId" resultType="CarPowerTrainEntity">
        <include refid="findPowertrainsByCarId"/>
    </select>
    <select id="findDefaultPowertrainByCarId" resultType="CarPowerTrainEntity">
        <include refid="findPowertrainsByCarId"/>
        limit 1
    </select>

    <select id="checkIfPowertrainExists" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM powertrain
        WHERE id = #{id}
    </select>

    <sql id="findPowertrainsByCarId">
        select car_id, powertrain_id, name, description, image, price, choice_ratio
        from car_powertrain
                 join powertrain
                      on car_powertrain.powertrain_id = powertrain.id
        where car_id = ${carId}
        order by powertrain_id
    </sql>
</mapper>
