name: release server application

on:
  push:
    branches: 'dev-be'

jobs:
  release:
    runs-on: ubuntu-latest
    env :
      working-directory : ./backend
      S3_BUCKET_NAME : h2o-backend-deployment

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build with Gradle
        run: ./gradlew build
        working-directory : ${{ env.working-directory }}

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          context: ${{ env.working-directory }}
          build-args: |
            MYSQL_URL = ${{ secrets.MYSQL_URL }}
            MYSQL_USERNAME = ${{ secrets.MYSQL_USERNAME }}
            MYSQL_PASSWORD = ''
            MYSQL_DRIVER = ${{ secrets.mysql_driver }}
          push: true
          tags: bumstead/h2o-backend-server:latest

      - name: Make scripts zip file
        run: |
          cd ${{ env.working-directory }}
          zip -r ../$GITHUB_SHA.zip deployScripts
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload scripts to S3
        run: aws s3 cp --region ${{ secrets.AWS_REGION }} ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$GITHUB_SHA.zip

      - name: run code deploy
        run: aws deploy create-deployment --application-name h2o-backend-deploy --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name h2o-deployment-group --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=$GITHUB_SHA.zip
